main {
    width: 550px;
}

h1 {
    margin-bottom: 25px;
}

#wrapper-input-form {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.button {
    border: none;
    font-size: 18px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0, 0.1);
    width: 220px;
    height: 50px;
    border-radius: 10px;
    font-weight: 800;
    color: #353535;
}




.tie-break-table {
    width: 100%;
    margin-bottom: 25px;
}

.tie-break-table thead {
    background-color:  rgb(0, 0, 0, 0.05);
}

.tie-break-table tr {
    height: 40px;
}

.tie-break-table thead {
    font-weight: 700;
}

.tie-break-table td {
    vertical-align: middle;
}

.tie-break-table p {
    margin-left: 5px;
    font-size: 18px;
}

.tie-break-table td:not(.tie-break-table td:last-child) {
    border-right: 1pt solid  rgb(0, 0, 0, 0.05);
}

h3 {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 25px;
}